<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <title>Login/Registration Form Transition</title>
  
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>

      <link rel="stylesheet" href="/static/css/style_login.css">
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
 <script src="/static/js/login.js"></script>
</head>

<body>
  <p class="tip">Click on button in image container</p>
<div class="cont">
  <div class="form sign-in">
    <!--登录的表单-->
    <h2 id="login_title">Welcome back,</h2>
    <label>
      <span>USERNAME</span>
      <input type="text" id="username_login"/>
    </label>
    <label>
      <span>Password</span>
      <input type="password" id="password_login"/>
    </label>
    <p class="forgot-pass">Forgot password?</p>
      <!--    <input type="submit" class="submit" value="Sign In" />-->
   <button type="button" class="submit" id="login_button">Sign In</button>
    <button type="button" class="fb-btn">Connect with <span>facebook</span></button>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <!--注册界面-->
    <div class="form sign-up">
      <h2>Time to feel like home,</h2>
      <label>
        <span>Name</span>
        <input type="text" />
      </label>
      <label>
        <span>USERNAME</span>
        <input type="text" id="username_register" />
      </label>
      <label>
        <span>PASSWORD</span>
        <input type="password" id="password_register"/>
      </label>
      <button type="button" class="submit" id="button_register">Sign Up</button>
      <button type="button" class="fb-btn">Join with <span>facebook</span></button>
    </div>
  </div>
</div>
  <script src="/static/js/index.js"></script>
</body>
</html>
